html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .stripe {
    > div {
      background-color: #f2f2f2c2;
      &:nth-child(2n-1) {
        background-color: #f8faf8;
      }
      &:hover {
        background-color: #e8e8e8;
      }
    }
  }
}
